.btn {
  @include flexCenter;
  display: inline-block;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 1rem;
  border-radius: var(--bradius);
  box-shadow: var(--shadow-light);
  transition: transform var(--duration);
  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
}

.btn-tmdb {
  background: var(--tmdb);
}
.btn-imdb {
  background: var(--imdb);
}
.btn-youtube {
  background: var(--youtube);
}
.btn-vimeo {
  background: var(--vimeo);
}
.btn-validate {
  background: var(--blue);
}

.span-select {
  font-weight: 900;
  color: var(--dark);
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--watermelon);
    cursor: pointer;
  }
}

.display-none {
  display: none;
}
.position-relative {
  position: relative;
}
.content-spinner {
  height: 50px;
  width: 50px;
  @include flexCenter;
}
.loader {
  align-self: center;
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid var(--dark); /* Blue */
  border-radius: 50%;
  box-shadow: var(--shadow);
  width: 22px;
  height: 22px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
