.calc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  // margin: 5rem;
  //   display: flex;
  @include flexCenter;
  height: 100%;
  width: 100%;
  // padding: 1.5rem;
  border-radius: var(--bradius);
  backdrop-filter: grayscale(80%) blur(2px);

  // background: var(--watermelon);
  .content-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    width: 35%;
    padding: 1.5rem;
    background: var(--light);
    border-radius: var(--bradius);
    box-shadow: var(--shadow);
    select {
      width: 90%;
      padding: 0.5rem;
      border-style: none;
      outline: none;
      border-radius: var(--bradius);
      box-shadow: var(--shadow-light);
    }
  }
}

// .content-modal {
//   @include flexCenter;
//   flex-direction: column;
// }
